body{
    background: #DDDDDD;
}

p{
    background-color: #EEEEEE;
    font-size: 20px;
    font-family: Dialog;
}
.class1{
    background-color: #9CAFAA;
    font-size: 13px;
    font-family: Candara;

}